* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-botton: white;
    --bg-color: #B4D0E6;
    --btn-color: #0061FE;
    --bg-footer-color: #000000;
}


.container {
    display: flex;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    align-items: center;
}

header {
    background-color: white;

    .container {
        justify-content: space-between;

        ul {
            list-style-type: none;
            display: flex;
            padding: 15px 0;
            align-items: center;


            li {
                padding-right: 1rem;
                min-width: fit-content;
                padding-left: 5px;
                font-size: 12px;

                img {
                    width: 90px;
                    align-items: center;
                }



                .btn {
                    background-color: var(--btn-color);
                    color: var(--text-botton);
                    text-align: center;
                    padding: 5px;
                    max-width: 100%;
                    text-decoration: none;
                }
            }

            .cliccabile:hover {
                border-bottom: 1px solid var(--btn-color);
                cursor: pointer;
            }

            .btn:hover {
                border-bottom: 1px solid white;
                opacity: 90%;
                cursor: pointer;

            }
        }
    }


}

footer {
    background-color: var(--bg-footer-color);
    color: grey;
    padding: 20px 0;

    .container-footer {
        max-width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
    }

    ul {
        padding:10px 20px 0 0 ;
        list-style: none;
    }
    li{
        font-size: 8px;
        margin-bottom: 10px;
    }
    language{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        max-width: 60%;
        margin: 0 auto;
        font-size: 8;
        padding-top: 10px;
        display: flex;
        align-items: center;
        font-size: small;
        i{
         padding:0 5px;
        }
    }
    
}